/* Background image for Life Happens. */
.imglifehappens {
    background-image: url("../images/sclifehappens.png");
}

/* Background image for Weather Dashboard. */
.imgweather {
    background-image: url("../images/scweather.jpg");
}

/* Background image for Work Day Scheduler. */
.imgscheduler {
    background-image: url("../images/scscheduler.jpeg");
}